In [1]:
# weather_data.csv 데이터를 읽어서 날짜 리스트와 기온 리스트를 각각 numpy.array로 저장
# - csv 모듈 사용해서 행 단위로 데이터 읽기 or dataframe으로 읽어서 numpy.array로 구성

# 최저기온 기준 제일 추웠던 날의 기온 (그 날짜의 데이터) 찾기
# 최고기온 기준 제일 더웠던 날의 기온 (그 날짜의 데이터) 찾기
# 일교차가 가장 큰 날 찾기
# 평균기온의 평균, 최저기온, 최고기온의 평균

In [81]:
import pandas as pd
import numpy as np

w_df = pd.read_csv('data-files/weather_data.csv')
w_df.head(1), w_df.tail(1)

(   지점번호 지점명          일시  평균기온(℃)  최고기온(℃) 최고기온시각  최저기온(℃) 최저기온시각   일교차
 0   108  서울  1907-10-01     13.5     20.7    NaN      7.9    NaN  12.8,
        지점번호 지점명          일시  평균기온(℃)  최고기온(℃) 최고기온시각  최저기온(℃) 최저기온시각  일교차
 42015   108  서울  2023-12-17     -9.8     -6.4  14:52    -12.4  07:58  6.0)

In [83]:
# 자료형에 따른 슬라이싱
# 필요한 것  - 평균/최저/최고 기온, 날짜, 일교차
# w_df.info()
# 0   지점번호     42016 non-null  int64  
# 1   지점명      42016 non-null  object 
# 2   일시       42016 non-null  object 
# 3   평균기온(℃)  41260 non-null  float64
# 4   최고기온(℃)  41257 non-null  float64
# 5   최고기온시각   29182 non-null  object 
# 6   최저기온(℃)  41257 non-null  float64
# 7   최저기온시각   29172 non-null  object 
# 8   일교차      41256 non-null  float64
# 필요 데이터
# 2   일시       42016 non-null  object 
# 3   평균기온(℃)  41260 non-null  float64
# 4   최고기온(℃)  41257 non-null  float64
# 6   최저기온(℃)  41257 non-null  float64
# 8   일교차      41256 non-null  float64

df = w_df.loc[:, ['일시', '평균기온(℃)', '최고기온(℃)', '최저기온(℃)', '일교차']]
print(df.shape)
# 결측치 제거
dropped_df = df.dropna()
print(dropped_df.shape, '\n', dropped_df.head(1), '\n')


# 자료형에 맞춰 데이터 프레임 분리
date_df = dropped_df.loc[:, ['일시']]
print(date_df.head(1), '\n')
avg_tem_df = dropped_df.loc[:, ['평균기온(℃)']]
print(avg_tem_df.head(1), '\n')
max_tem_df = dropped_df.loc[:, ['최고기온(℃)']]
print(max_tem_df.head(1), '\n')
min_tem_df = dropped_df.loc[:, ['최저기온(℃)']]
print(min_tem_df.head(1), '\n')
gap_df = dropped_df.loc[:, ['일교차']]
print(gap_df.head(1), '\n')

# 데이터 프레임을 배열로 변환
date_ar = date_df.to_numpy()
avg_tem_ar = avg_tem_df.to_numpy()
max_tem_ar = max_tem_df.to_numpy()
min_tem_ar = min_tem_df.to_numpy()
gap_ar = gap_df.to_numpy()

(42016, 5)
(41256, 5)
            일시  평균기온(℃)  최고기온(℃)  최저기온(℃)   일교차
0  1907-10-01     13.5     20.7      7.9  12.8

           일시
0  1907-10-01

   평균기온(℃)
0     13.5

   최고기온(℃)
0     20.7

   최저기온(℃)
0      7.9

    일교차
0  12.8

In [86]:
# 최대/최소 기온 찾기
max = np.max(max_tem_ar)
min = np.min(min_tem_ar)
print('최고기온 : ', max, '최저기온 : ', min)

# 최대/최소 기온 인덱싱하기
max_idx = np.argmax(max_tem_ar)
min_idx = np.argmin(min_tem_ar)
print('최고기온 행 번호 : ', max_idx, '최저기온 행 번호 : ', min_idx, '\n')

date_max = date_ar[39292] 
date_min = date_ar[7396]
print(' 최저기온 기준 가장 추웠던 날 : ', date_min, '\n',
      '최고기온 기준 가장 더웠던 날 : ', date_max)

최고기온 :  39.6 최저기온 :  -23.1
최고기온 행 번호 :  39292 최저기온 행 번호 :  7396

 최저기온 기준 가장 추웠던 날 :  ['1927-12-31']
 최고기온 기준 가장 더웠던 날 :  ['2018-08-01']

In [87]:
# 일교차가 가장 큰 날 찾기
g_max = np.max(gap_ar)
print('가장 큰 일교차 기온 : ', g_max)

g_max_idx = np.argmax(gap_ar)
print('가장 큰 일교차의 행 번호 : ', g_max_idx, '\n')

date_g_max = date_ar[12619] 
print('일교차가 가장 컸던 날 : ', date_g_max)

가장 큰 일교차 기온 :  21.8
가장 큰 일교차의 행 번호 :  12619

일교차가 가장 컸던 날 :  ['1942-04-19']

In [76]:
# 평균기온의 평균, 최저기온의 평균, 최고기온의 평균
avg_avg = np.average(avg_tem_ar)
avg_min = np.average(min_tem_ar)
avg_max = np.average(max_tem_ar)

print(' 평균기온의 평균 : ', avg_avg, '\n',
      '최저기온의 평균 : ', avg_min, '\n',
      '최고기온의 평균 : ', avg_max)

 평균기온의 평균 :  11.798705642815591
 최저기온의 평균 :  7.51008338181113
 최고기온의 평균 :  16.799835175489623

In [92]:
print('최고기온 : ', max, '최저기온 : ', min, '\n')
print('최저기온 기준 가장 추웠던 날 : ', date_min, '\n')
print('최고기온 기준 가장 더웠던 날 : ', date_max, '\n')
print('가장 큰 일교차 기온 : ', g_max, '\n')
print('일교차가 가장 컸던 날 : ', date_g_max, '\n')
print('평균기온의 평균 : ', avg_avg, '\n')
print('최저기온의 평균 : ', avg_min, '\n')
print('최고기온의 평균 : ', avg_max, '\n')

최고기온 :  39.6 최저기온 :  -23.1

최저기온 기준 가장 추웠던 날 :  ['1927-12-31']

최고기온 기준 가장 더웠던 날 :  ['2018-08-01']

가장 큰 일교차 기온 :  21.8

일교차가 가장 컸던 날 :  ['1942-04-19']

평균기온의 평균 :  11.798705642815591

최저기온의 평균 :  7.51008338181113

최고기온의 평균 :  16.799835175489623

## ver.2 

결측치 행이 다른 셀에서 각각 발생할 수 있으므로

평균-날짜, 최고-날짜, 최저-날짜, 일교차-날짜
별로 묶어 결측치 제거해서 분석하기

In [4]:
import pandas as pd
import numpy as np

we_df = pd.read_csv('data-files/weather_data.csv')
we_df.head(1), we_df.tail(1)

(   지점번호 지점명          일시  평균기온(℃)  최고기온(℃) 최고기온시각  최저기온(℃) 최저기온시각   일교차
 0   108  서울  1907-10-01     13.5     20.7    NaN      7.9    NaN  12.8,
        지점번호 지점명          일시  평균기온(℃)  최고기온(℃) 최고기온시각  최저기온(℃) 최저기온시각  일교차
 42015   108  서울  2023-12-17     -9.8     -6.4  14:52    -12.4  07:58  6.0)

In [5]:
avedf = we_df.loc[:, ['일시', '평균기온(℃)']]
maxdf = we_df.loc[:, ['일시', '최고기온(℃)']]
mindf = we_df.loc[:, ['일시', '최저기온(℃)']]
gapdf = we_df.loc[:, ['일시', '일교차']]
# 결측치 제거
davedf = avedf.dropna()
dmaxdf = maxdf.dropna()
dmindf = mindf.dropna()
dgapdf = gapdf.dropna()
print(davedf.shape, dmaxdf.shape, dmindf.shape, dgapdf.shape)

# # 자료형에 맞춰 데이터 프레임 분리
avg_df = davedf.loc[:, ['평균기온(℃)']]
adate_df = davedf.loc[:, ['일시']]

max_df = dmaxdf.loc[:, ['최고기온(℃)']]
xdate_df = dmaxdf.loc[:, ['일시']]

min_df = dmindf.loc[:, ['최저기온(℃)']]
ndate_df = dmindf.loc[:, ['일시']]

gap_df = dgapdf.loc[:, ['일교차']]
gdate_df = dgapdf.loc[:, ['일시']]

# # 데이터 프레임을 배열로 변환
avg_ar = avg_df.to_numpy()
adate_ar = adate_df.to_numpy()

max_ar = max_df.to_numpy()
xdate_ar = xdate_df.to_numpy()

min_ar = min_df.to_numpy()
ndate_ar = ndate_df.to_numpy()

gap_ar = gap_df.to_numpy()
gdate_ar = gdate_df.to_numpy()

(41260, 2) (41257, 2) (41257, 2) (41256, 2)

In [7]:
# 최대/최소 기온 찾기
max = np.max(max_ar)
min = np.min(min_ar)
print('최고기온 : ', max, '최저기온 : ', min)

# 최대/최소 기온 인덱싱하기
max_idx = np.argmax(max_ar)
min_idx = np.argmin(min_ar)
print('최고기온 행 번호 : ', max_idx, '최저기온 행 번호 : ', min_idx, '\n')

date_max = ndate_ar[39292] 
date_min = xdate_ar[7396]
print(' 최저기온 기준 가장 추웠던 날 : ', date_min, '\n',
      '최고기온 기준 가장 더웠던 날 : ', date_max, '\n')

# 일교차가 가장 큰 날 찾기
g_max = np.max(gap_ar)
print('가장 큰 일교차 기온 : ', g_max)

g_max_idx = np.argmax(gap_ar)
print('가장 큰 일교차의 행 번호 : ', g_max_idx, '\n')

date_g_max = gdate_ar[12619] 
print('일교차가 가장 컸던 날 : ', date_g_max)

최고기온 :  39.6 최저기온 :  -23.1
최고기온 행 번호 :  39292 최저기온 행 번호 :  7396

 최저기온 기준 가장 추웠던 날 :  ['1927-12-31']
 최고기온 기준 가장 더웠던 날 :  ['2018-07-31']

가장 큰 일교차 기온 :  21.8
가장 큰 일교차의 행 번호 :  12619

일교차가 가장 컸던 날 :  ['1942-04-19']

In [8]:
# 평균기온의 평균, 최저기온의 평균, 최고기온의 평균
avg_avg = np.average(avg_ar)
avg_min = np.average(min_ar)
avg_max = np.average(max_ar)

print(' 평균기온의 평균 : ', avg_avg, '\n',
      '최저기온의 평균 : ', avg_min, '\n',
      '최고기온의 평균 : ', avg_max)

 평균기온의 평균 :  11.798744546776538
 최저기온의 평균 :  7.510114647211384
 최고기온의 평균 :  16.800116343893155

In [9]:
print('최고기온 : ', max, '최저기온 : ', min, '\n')
print('최저기온 기준 가장 추웠던 날 : ', date_min, '\n')
print('최고기온 기준 가장 더웠던 날 : ', date_max, '\n')
print('가장 큰 일교차 기온 : ', g_max, '\n')
print('일교차가 가장 컸던 날 : ', date_g_max, '\n')
print('평균기온의 평균 : ', avg_avg, '\n')
print('최저기온의 평균 : ', avg_min, '\n')
print('최고기온의 평균 : ', avg_max, '\n')

최고기온 :  39.6 최저기온 :  -23.1

최저기온 기준 가장 추웠던 날 :  ['1927-12-31']

최고기온 기준 가장 더웠던 날 :  ['2018-07-31']

가장 큰 일교차 기온 :  21.8

일교차가 가장 컸던 날 :  ['1942-04-19']

평균기온의 평균 :  11.798744546776538

최저기온의 평균 :  7.510114647211384

최고기온의 평균 :  16.800116343893155

## 선생님과 함께

In [12]:
import pandas as pd
import numpy as np

weather_data = pd.read_csv('data-files/weather_data.csv')
weather_data.columns

Index(['지점번호', '지점명', '일시', '평균기온(℃)', '최고기온(℃)', '최고기온시각', '최저기온(℃)',
       '최저기온시각', '일교차'],
      dtype='object')

In [13]:
date_array = weather_data[['일시']].values
temperature_array = weather_data[['평균기온(℃)', '최고기온(℃)', '최저기온(℃)', '일교차']].values

In [14]:
print( date_array.shape, date_array.ndim )
print( temperature_array.shape, temperature_array.ndim )
print( type(date_array), type(temperature_array) )
print( date_array.dtype, temperature_array.dtype )

(42016, 1) 2
(42016, 4) 2
<class 'numpy.ndarray'> <class 'numpy.ndarray'>
object float64

In [15]:
# 최저기온이 가장 낮은 날 찾기
temperature_array[:, 2] # 기온배열에서 모든 행의 2번째 열 = 최저기온
temperature_array[:, 2].min() # 최저기온 - nan 결측치 존재
temperature_array[:, 1].max() # 최고기온 - nan 결측치 존재
temperature_array[:, 0].max() # 평균기온 - nan 결측치 존재

np.float64(nan)

In [16]:
import numpy as np
np.isnan(temperature_array[:, 2]).sum() # nan 값의 갯수
# 우린 nan이 아닌 값만 필요
~np.isnan(temperature_array[:, 2]) # nan인 데이터의 목록

valide_idx = ~np.isnan(temperature_array[:, 2]) # nan이 아닌 데이터 위치
temperature_array[:, 2][valide_idx].min()

np.float64(-23.1)

In [20]:
# 가장 낮은 최저 기온
np.isnan(temperature_array[:, 2]).sum() # nan 값의 갯수
~np.isnan(temperature_array[:, 2]) # nan인 데이터의 목록

valide_idx = ~np.isnan(temperature_array[:, 2]) # nan이 아닌 데이터 위치
min_value = temperature_array[:, 2][valide_idx].min()   # 최저기온의 min
mean_value = temperature_array[:, 2][valide_idx].mean() # 최저기온의 평균
min_value, mean_value

(np.float64(-23.1), np.float64(7.510114647211384))

In [22]:
temperature_array[:,2] == min_value
date_array[:, 0][temperature_array[:, 2] == min_value]

array(['1927-12-31'], dtype=object)

In [23]:
# 가장 높은 최고 기온
valid_idx = ~np.isnan(temperature_array[:, 1]) #nan이 아닌 데이터 위치
max_value = temperature_array[:, 1][valid_idx].max()
mean_value = temperature_array[:, 1][valid_idx].mean()
max_value, mean_value

(np.float64(39.6), np.float64(16.800116343893155))

In [24]:
# 최고 기온이 가장 높을 때 날짜
date_array[:, 0][temperature_array[:, 1] == max_value]

array(['2018-08-01'], dtype=object)

In [25]:
# 가장 높은 평균 기온
valid_idx = ~np.isnan(temperature_array[:, 0]) #nan이 아닌 데이터 위치
max_value = temperature_array[:, 0][valid_idx].max()
mean_value = temperature_array[:, 0][valid_idx].mean()
max_value, mean_value

(np.float64(33.7), np.float64(11.798744546776538))

In [26]:
# 평균 기온이 가장 높을 때 날짜
date_array[:, 0][temperature_array[:, 0] == max_value]

array(['2018-08-02'], dtype=object)

In [27]:
# 일교차가 가장 큰 날
valid_idx = ~np.isnan(temperature_array[:, 3]) #nan이 아닌 데이터 위치
max_value = temperature_array[:, 3][valid_idx].max()
mean_value = temperature_array[:, 3][valid_idx].mean()
max_value, mean_value

(np.float64(21.8), np.float64(9.289751793678494))

In [28]:
# 일교차가 가장 큰 날짜
date_array[:, 0][temperature_array[:, 3] == max_value]

array(['1942-04-19'], dtype=object)

In [29]:

def select_temperature_data(col='평균기온', vtype='max'):
# 평균기온과 max가 기본값으로 설정됨
    cols = {'평균기온':0, '최고기온':1, '최저기온':2, '일교차':3}
    # cols = {'평균기온':0, '최고기온':1, '최저기온':2, '일교차':3} 컬럼을 딕셔너리로 만듦
    col_idx = cols[col]

    valid_filter = ~np.isnan(temperature_array[:, col_idx]) #nan이 아닌 데이터 위치
    
    max_value = temperature_array[:, col_idx][valid_filter].max()
    min_value = temperature_array[:, col_idx][valid_filter].min()
    mean_value = temperature_array[:, col_idx][valid_filter].mean()

    temperature_key, target_value = ('최고기온', max_value) if vtype == 'max' else ('최저기온', min_value)
    # max가 T면 '최고기온', max_value, F라면 '최저기온', min_value
    # 실행문1(조건 T인 경우) if 조건 else 실행문2(조건 F인 경우)
    dates = date_array[:, 0][temperature_array[:, col_idx] == target_value ]
    # date_array는 날짜만 있음 1차원으로
    # 타겟은 최저 or 최고
    # 날짜의 배열가져오고, 찾은 값이 있는 위치를 지정해서 날짜를 찾음

    return { temperature_key : target_value.item(), "평균기온" : mean_value.item(), "날짜": dates.item() }

In [47]:
temperature_array[:, 1] == 39.6 # 39.6인 것만 T
# 39.6이 있는 행만 True, 나머지는 False
(temperature_array[:, 1] == 39.6).sum() # 39.6인 값의 갯수

np.int64(1)

In [48]:
weather_data['일시'].values # weather_data[['일시']]
date_array[:,0] # 1차원
date_array[:,0][temperature_array[:, 1] == 39.6]

array(['2018-08-01'], dtype=object)

In [34]:
print( select_temperature_data('최고기온', 'max') )
print( select_temperature_data('최저기온', 'min') )
print( select_temperature_data('평균기온', 'min') )
print( select_temperature_data('일교차', 'max') )

{'최고기온': 39.6, '평균기온': 16.800116343893155, '날짜': '2018-08-01'}
{'최저기온': -23.1, '평균기온': 7.510114647211384, '날짜': '1927-12-31'}
{'최저기온': -19.2, '평균기온': 11.798744546776538, '날짜': '1915-01-13'}
{'최고기온': 21.8, '평균기온': 9.289751793678494, '날짜': '1942-04-19'}

In [36]:
weather_data.isna().sum()

지점번호           0
지점명            0
일시             0
평균기온(℃)      756
최고기온(℃)      759
최고기온시각     12834
최저기온(℃)      759
최저기온시각     12844
일교차          760
dtype: int64