In [3]:
import pandas as pd
import numpy as np

In [7]:
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)
print(s.index)

0    a
1    b
2    c
3    d
dtype: object
RangeIndex(start=0, stop=4, step=1)

In [11]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
# s = pd.Series(data)
s = pd.Series(data,index=['b','c','d','a']) # 인덱스 쓴 순서대로 지정됨
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [12]:
s = pd.Series(5, index=[0, 1, 2, 3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [19]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
s
print( s['a'] )
print( s[0] )

1
1

C:\Users\human\AppData\Local\Temp\ipykernel_2320\961694646.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print( s[0] )

In [24]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[:3])    # 슬라이싱
print(s[:3], s[:'c'])

a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
dtype: int64 a    1
b    2
c    3
dtype: int64

In [27]:
data = [['Alex',10],['Bob',12],['Clarke',13]]   # []안의 각[]가 행이된다.
df = pd.DataFrame(data,columns=['Name','Age'])  # 컬럼지정
print(df)
print(df.dtypes)    # 초론기능이 돌아가서, 이름은 문자열로, 나이는 정수형

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13
Name    object
Age      int64
dtype: object

In [ ]:
# data = [['Alex',10],['Bob',12],['Clarke',13]]
# df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
# print(df)

In [30]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [31]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [33]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
    'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df['one']) # data-frame의 인덱싱 : 컬럼 인덱싱
# 인덱싱은 하나를 가져오는거고, df에서 인덱싱은 하나의 컬럼을 가져온다.
print(df['two'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
a    1
b    2
c    3
d    4
Name: two, dtype: int64

In [36]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)

df['three'] = pd.Series([10,20,30], index=['a','b','c'])
print(df)
df['four'] = df['one'] + df['three']
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [35]:
# 데이터프레임 컬럼 삭제 : del or pop
del df['one']
print(df)

df.pop('two')
print(df)

   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

In [46]:
df = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)

# df['one'] # 열인덱스 하나 가져옴
# df['one', 'a'] # 에러
print(df.loc['a', 'one']) # loc하면 컬럼이름을 사용해서 행인덱스 > 열인덱스 순으로 처리 [행인덱스, 열인덱스]
print(df.iloc[0, 0])    # iloc하면 행순서번호 > 열순서번호 순으로 처리 [행순서번호, 열순서번호]

1.0
1.0

In [47]:
# 행 슬라이싱
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df[2:4]) # dataframe slicing : row slicing

   one  two
c  3.0    3
d  NaN    4

In [ ]:
# 행 추가
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df = df.append(df2)
print(df)

In [50]:
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age':pd.Series([25,26,25,23,30,29,23]),
     'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

df = pd.DataFrame(d)
print(df)

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [51]:
# 열과 행 뒤집기
df.T

           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8