In [14]:
# weather_data.csv 데이터를 읽어서 dataframe 구성

# 최저기온 기준 제일 추웠던 날의 기온 (그 날짜의 데이터) 찾기
# 최고기온 기준 제일 더웠던 날의 기온 (그 날짜의 데이터) 찾기
# 일교차가 가장 큰 날 찾기
# 평균기온의 평균, 최저기온, 최고기온의 평균

In [15]:
import pandas as pd
import numpy as np

w_df = pd.read_csv('data-files/weather_data.csv')
w_df.head(1), w_df.tail(1)

(   지점번호 지점명          일시  평균기온(℃)  최고기온(℃) 최고기온시각  최저기온(℃) 최저기온시각   일교차
 0   108  서울  1907-10-01     13.5     20.7    NaN      7.9    NaN  12.8,
        지점번호 지점명          일시  평균기온(℃)  최고기온(℃) 최고기온시각  최저기온(℃) 최저기온시각  일교차
 42015   108  서울  2023-12-17     -9.8     -6.4  14:52    -12.4  07:58  6.0)

In [16]:
w_df.columns

Index(['지점번호', '지점명', '일시', '평균기온(℃)', '최고기온(℃)', '최고기온시각', '최저기온(℃)',
       '최저기온시각', '일교차'],
      dtype='object')

In [17]:
# 전체 컬럼 이름 바꾸기
w_df.columns = ['지점번호', '지점명', '일시', '평균기온', '최고기온', '최고기온시각', '최저기온',
                 '최저기온시각', '일교차']
w_df.columns

Index(['지점번호', '지점명', '일시', '평균기온', '최고기온', '최고기온시각', '최저기온', '최저기온시각', '일교차'], dtype='object')

In [18]:
# 일부 컬럼 이름 바꾸기
# w_df.rename(columns={ "old-column": "new-column"})
w_df.rename(columns={ "지점명": "지점이름", "일시": "관측일자"})
# 원본을 바꾸지 않고, 변경된 것을 복사본으로 반환
# 바꾸고 싶다면 새로 지정한다
w_df_rename = w_df.rename(columns={ "지점명": "지점이름", "일시": "관측일자"})

w_df_rename.head(1)

   지점번호 지점이름        관측일자  평균기온  최고기온 최고기온시각  최저기온 최저기온시각   일교차
0   108   서울  1907-10-01  13.5  20.7    NaN   7.9    NaN  12.8

In [19]:
# 원본에서 그 자체를 변경할 때
w_df.rename(columns={ "지점명": "지점이름", "일시": "관측일자"}, inplace=True)
w_df.head(1)

# 데이터를 다룰때 불편성을 감수한다. 원본은 최대한 건드리지 말고, 변경하면 새로운 데이터로 하는 것이 정석
# 원칙적으로는 사본을 만든다.

   지점번호 지점이름        관측일자  평균기온  최고기온 최고기온시각  최저기온 최저기온시각   일교차
0   108   서울  1907-10-01  13.5  20.7    NaN   7.9    NaN  12.8

In [21]:
# 가장 낮은 최저 기온
min_temperature = w_df["최저기온"].min()
min_idx = w_df['최저기온'] == min_temperature
w_df[min_idx]
# 알아서 nan처리를 해서 값이 있는 데이터에서 최소 값을 가져옴

      지점번호 지점이름        관측일자  평균기온  최고기온 최고기온시각  최저기온 최저기온시각   일교차
7396   108   서울  1927-12-31 -15.3  -6.4    NaN -23.1    NaN  16.7

In [25]:
min_idx = w_df['최저기온'].argmin() # 최저 값이 있는 위치 (인덱스) 반환
# w_df[min_idx] # 이 경우 min_idx를 컬럼으로 인지해서 에러남
w_df.loc[min_idx] # 최저값이 있는 행을 행슬라이싱으로 반환

지점번호             108
지점이름              서울
관측일자      1927-12-31
평균기온           -15.3
최고기온            -6.4
최고기온시각           NaN
최저기온           -23.1
최저기온시각           NaN
일교차             16.7
Name: 7396, dtype: object

In [27]:
# 가장 높은 최고 기온
max_idx = w_df['최고기온'].argmax() # 최고값이 있는 위치 (인덱스) 반환
w_df.loc[max_idx]

지점번호             108
지점이름              서울
관측일자      2018-08-01
평균기온            33.6
최고기온            39.6
최고기온시각         15:36
최저기온            27.8
최저기온시각         05:56
일교차             11.8
Name: 40051, dtype: object

In [28]:
# 일교차가 가장 큰 날
max_idx = w_df['일교차'].argmax() # 최고값이 있는 위치 (인덱스) 반환
w_df.loc[max_idx]

지점번호             108
지점이름              서울
관측일자      1942-04-19
평균기온            12.7
최고기온            24.3
최고기온시각         14:12
최저기온             2.5
최저기온시각         06:16
일교차             21.8
Name: 12619, dtype: object