In [1]:
# 1. population.csv 파일을 DataFrame으로 읽고 내용 확인
#       -> 인구수 속의 숫자 구분기호인 ,를 없애고 자료형을 숫자로 바꿔라
#       -> "1,234,456" -> "1,234,456" -> 1234456
# 2. 현재 연구자 거주지 동의 인구 정보 조회 (행 전체)

# 3. 총인구수가 가장 많은 동 조회 (읍면동 단위)
# 4. 남성인구비가 가장 높은 동 조회 (읍면동 단위)
# 5. 도시 법정동 1선정, 농촌 법정동 1선정, 인구 분표 비교 (읍면동 단위)

In [2]:
# 1. population.csv 파일을 DataFrame으로 읽고 내용 확인

import pandas as pd

df = pd.read_csv("data-files/population.csv", low_memory=False)

In [ ]:
# 인구 수에서 , 없애기
df = df.replace(',', '', regex=True)
df.head(3)

In [ ]:
# 인구 수를 문자열에서 숫자로 바꾸기
df1 = df.iloc[:, 0]
df2 = df.iloc[:, 1:]
df2.head(2)
df2 = df2.astype('int32')
df2.dtypes

In [ ]:
# 합치기
df = pd.concat([df1, df2], axis = 1)
df.head(2)

In [ ]:
# 2. 현재 연구자 거주지 동의 인구 정보 조회 (행 전체)
df[df['행정구역'].str.contains('괴안동')]

### 선생님과 함께 1번, 2번 (+문자열에서 숫자로 변환까지)

In [1]:
import pandas as pd

In [16]:
population = pd.read_csv('data-files/population.csv')

C:\Users\human\AppData\Local\Temp\ipykernel_5968\804588561.py:1: DtypeWarning: Columns (100,101,103,198,199,200,201,305,306,307,309) have mixed types. Specify dtype option on import or set low_memory=False.
  population = pd.read_csv('data-files/population.csv')

In [3]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Columns: 310 entries, 행정구역 to 2024년09월_여_100세 이상
dtypes: int64(7), object(303)
memory usage: 9.2+ MB

In [12]:
population.head(3)

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0세,2024년09월_계_1세,2024년09월_계_2세,2024년09월_계_3세,2024년09월_계_4세,2024년09월_계_5세,2024년09월_계_6세,...,2024년09월_여_91세,2024년09월_여_92세,2024년09월_여_93세,2024년09월_여_94세,2024년09월_여_95세,2024년09월_여_96세,2024년09월_여_97세,2024년09월_여_98세,2024년09월_여_99세,2024년09월_여_100세 이상
0,서울특별시 (1100000000),"9,350,995","9,350,995","38,100","38,486","40,625","42,608","44,377","47,757","51,072",...,"6,767","5,474","3,921","3,343","2,623","1,892","1,391",776,523,"1,184"
1,서울특별시 종로구 (1111000000),"138,879","138,879",415,419,467,471,516,512,580,...,131,105,87,63,52,46,34,21,8,33
2,서울특별시 종로구 청운효자동(1111051500),"11,143","11,143",52,35,43,48,46,50,50,...,13,10,11,3,6,4,1,2,0,4

In [5]:
# Series.str : Series에 포함된 문자열 각각에 적용할 함수를 포함하는 객체
# 따라서 내장된 반복문을 실행하여서 for문을 만드는 것보다 훨씬 빠르고 간결하다.
dong_filter = population['행정구역'].str.contains('괴안동')
population[dong_filter]

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0세,2024년09월_계_1세,2024년09월_계_2세,2024년09월_계_3세,2024년09월_계_4세,2024년09월_계_5세,2024년09월_계_6세,...,2024년09월_여_91세,2024년09월_여_92세,2024년09월_여_93세,2024년09월_여_94세,2024년09월_여_95세,2024년09월_여_96세,2024년09월_여_97세,2024년09월_여_98세,2024년09월_여_99세,2024년09월_여_100세 이상
1471,경기도 부천시 소사구 괴안동(4119457000),"18,500","18,500",63,54,70,74,86,87,83,...,28,23,14,10,6,7,5,2,2,8

In [6]:
"1" in "1234567"

True

In [17]:
# 인구수를 숫자 자료형으로 바꾸기
# "1,234,456" -> "1,234,456" -> 1234456
print(population['2024년09월_계_총인구수'].dtype)
# 데이터 타입은 문자열로 확인된다.

population['2024년09월_계_총인구수'] = \
        population['2024년09월_계_총인구수'].map(lambda v : int(str(v).replace(",", "")))
        # 쉼표 제거 및 int로 자료형 바꾸기
        # v는 행 하나 하나의 값

object

In [18]:
population['2024년09월_계_총인구수'].dtype
population['2024년09월_계_총인구수']

0       9350995
1        138879
2         11143
3          8995
4          2234
         ...
3905      11111
3906      15106
3907      13755
3908      12285
3909       3833
Name: 2024년09월_계_총인구수, Length: 3910, dtype: int64

In [9]:
population["행정구역"]
# 코드에 규칙이 있다.
# 서울특별시 종로구 청운효자동(1111051500)에서 51500 부분이 동을 표시하는 부분

0                서울특별시  (1100000000)
1             서울특별시 종로구 (1111000000)
2        서울특별시 종로구 청운효자동(1111051500)
3          서울특별시 종로구 사직동(1111053000)
4          서울특별시 종로구 삼청동(1111054000)
                    ...
3905    제주특별자치도 서귀포시 서홍동(5013058000)
3906    제주특별자치도 서귀포시 대륜동(5013059000)
3907    제주특별자치도 서귀포시 대천동(5013060000)
3908    제주특별자치도 서귀포시 중문동(5013061000)
3909    제주특별자치도 서귀포시 예래동(5013062000)
Name: 행정구역, Length: 3910, dtype: object

In [19]:
area_mask = population['행정구역'].map(lambda v: v[-6] != '0') # 동 행정구역 찾기
max_value = population[area_mask]['2024년09월_계_총인구수'].max()
max_value

population[population['2024년09월_계_총인구수'] == max_value ]

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0세,2024년09월_계_1세,2024년09월_계_2세,2024년09월_계_3세,2024년09월_계_4세,2024년09월_계_5세,2024년09월_계_6세,...,2024년09월_여_91세,2024년09월_여_92세,2024년09월_여_93세,2024년09월_여_94세,2024년09월_여_95세,2024년09월_여_96세,2024년09월_여_97세,2024년09월_여_98세,2024년09월_여_99세,2024년09월_여_100세 이상
3715,경상남도 양산시 물금읍(4833025300),117160,"117,160",643,739,845,882,"1,114","1,169","1,403",...,46,42,31,18,24,12,4,5,4,9