In [5]:
# mysql database 연동 모듈
# !pip install pymysql # pymysql 모듈 설치
import pymysql

In [7]:
# 1. 데이터베이스에 연결
# pymysql.connect(host="", port=1, user="", passwd="", db="")
# "localhost" = "127.0.0.1"
conn = pymysql.connect(host="127.0.0.1", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")

In [9]:
# 2. 명령 도구 준비
cursor = conn.cursor()

In [10]:
# 3. 명령 실행
sql = "SELECT * FROM customer"
cursor.execute(sql)

5

In [11]:
# 4. 조회 명령 실행 결과를 가져오기
data = cursor.fetchall()

In [16]:
# 5. 데이터 사용
# print(data)
# print(type(data), len(data)) # 5개 로우라서 길이가 5로 나옴
for row in data:
    print(row)

(1, '박지성', '영국 맨체스타', '000-5000-0001')
(2, '김연아', '대한민국 서울', '000-6000-0001')
(3, '장미란', '대한민국 강원도', '000-7000-0001')
(4, '추신수', '미국 클리블랜드', '000-8000-0001')
(5, '박세리', '대한민국 대전', None)

In [17]:
# 6. 연결 닫기
cursor.close()
conn.close()

In [19]:
# 1. 데이터베이스에 연결
conn = pymysql.connect(host="127.0.0.1", port=3306, db="employees",
                       user="root", passwd="1234")

In [20]:
# 2. 명령 도구 준비
cursor = conn.cursor()

In [22]:
# 3. 명령 실행
# sql = "SELECT * FROM salaries"
# cursor.execute(sql)
sql = "SELECT emp_no, MAX(salary) FROM salaries GROUP BY emp_no"
cursor.execute(sql)

300024

In [23]:
# 4. 조회 명령 실행 결과를 가져오기
data = cursor.fetchall()

In [24]:
# 5. 데이터 사용
# print(data)
# print(type(data), len(data)) # 5개 로우라서 길이가 5로 나옴
for row in data[:10]:
    print(row)

(10001, 88958)
(10002, 72527)
(10003, 43699)
(10004, 74057)
(10005, 94692)
(10006, 60098)
(10007, 88070)
(10008, 52668)
(10009, 94443)
(10010, 80324)

In [26]:
# db에서 데이터 가져와서 df로 변환해서 avg, 집계 등등으로 활용함 + 시각화

In [6]:
# !pip install pymysql #pymysql 설치 1회만 하면 됌
# !pip install cryptograpy

Defaulting to user installation because normal site-packages is not writeable
Collecting cryptograpy
  Downloading cryptograpy-0.0.0-py2.py3-none-any.whl.metadata (290 bytes)
Collecting cryptography (from cryptograpy)
  Downloading cryptography-43.0.3-cp39-abi3-win_amd64.whl.metadata (5.4 kB)
Requirement already satisfied: cffi>=1.12 in c:\dev\anaconda3\envs\human-da-env\lib\site-packages (from cryptography->cryptograpy) (1.17.1)
Requirement already satisfied: pycparser in c:\dev\anaconda3\envs\human-da-env\lib\site-packages (from cffi>=1.12->cryptography->cryptograpy) (2.22)
Downloading cryptograpy-0.0.0-py2.py3-none-any.whl (1.9 kB)
Downloading cryptography-43.0.3-cp39-abi3-win_amd64.whl (3.1 MB)
   ---------------------------------------- 0.0/3.1 MB ? eta -:--:--
   ------------------------------ --------- 2.4/3.1 MB 12.2 MB/s eta 0:00:01
   ------------------------------------- -- 2.9/3.1 MB 12.0 MB/s eta 0:00:01
   ---------------------------------------- 3.1/3.1 MB 6.4 MB/s eta 0:00:00
Installing collected packages: cryptography, cryptograpy
Successfully installed cryptography-43.0.3 cryptograpy-0.0.0

In [8]:
import pymysql

In [9]:
# 1. 데이터베이스에 연결

conn = pymysql.connect(host="127.0.0.1", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")

In [10]:
# 2. 명령 도구 준비
cursor = conn.cursor()

In [11]:
# 3. 명령 실행
sql = "select * from customer"
cursor.execute(sql)
# 서버에 결과 집합 만들어지고 읽을 준비 됨

5

In [12]:
# 4. 조회 명령 실행 결과를 가져오기
data = cursor.fetchall() # 2차원 튜플(튜플안에 튜플) > ((1, '박지 > (())가 2개

In [15]:
# 5. 데이터 사용
# print(data)
print(type(data), len(data))
for row in data:
    print(row)

<class 'tuple'> 5
(1, '박지성', '영국 맨체스타', '000-5000-0001')
(2, '김연아', '대한민국 서울', '000-6000-0001')
(3, '장미란', '대한민국 강원도', '000-7000-0001')
(4, '추신수', '미국 클리블랜드', '000-8000-0001')
(5, '박세리', '대한민국 대전', None)

In [17]:
# 6. 연결 닫기
cursor.close()
conn.close()

In [14]:
# 0. 데이터베이스 연동 도구 준비
import pymysql

In [15]:
# 1. 데이터베이스 연결 -> 연결 객체 반환
conn = pymysql.connect(host="192.168.0.55", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")

In [16]:
# 2. 명령 도구 만들기
cursor = conn.cursor()

In [19]:
# 3. SQL 만들기 + 명령 실행
sql = """
    create table newbook_yr
    (
        bookid integer primary key,
        bookname varchar(100), 
        publisher varchar(100),
        price integer
    )    """
cursor.execute(sql)

0

In [46]:
# 5. 연결 닫기 - 안하면 db는 이에대한 연결에대해 비용을 계속 지불함
cursor.close()
conn.close()

## book의 데이터를 조회해서 newbook 에 저장

In [47]:
# 1. 데이터베이스 연결 -> 연결 객체 반환
conn = pymysql.connect(host="192.168.0.55", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")

In [48]:
# 2. 명령 도구 만들기
cursor = conn.cursor()

In [ ]:
# 3. SQL 작성 + 명령 실행 (삭제 명령)
sql = "delete from newbook_yr" # pk중복으로 기존 데이터 삭제
cursor.execute(sql)
conn.commit()

In [49]:
# 3. SQL 작성 + 명령 실행 (조회 명령)
sql = "select bookid, bookname, publisher, price from book"
cursor.execute(sql)

10

In [50]:
# 4. 조회 결과 읽기
book_list = cursor.fetchall()

In [51]:
# # 5. 데이터 처리 (데이터 삽입) 1 
# sql2 = "insert into newbook_yr values ({0}, '{1}', '{2}', {3})" # 문자열 데이터는 ''로 감싸기
# for book in book_list:
#     print(book)
#     # print(book)
#     # book 데이터를 newbook_yr 테이블에 insert
#     # sql1 = f"insert into newbook_yr values ({book[0]}, {book[1]}, {book[2]}, {book[3]})" # 데이터와 문자열결합
#     # cursor.execute(sql1)
#     cursor.execute(sql2.format(book[0], book[1], book[2], book[3]))

(1, '축구의 역사', '굿스포츠', 50000)
(2, '축구아는 여자', '나무수', 50000)
(3, '축구의 이해', '대한미디어', 50000)
(4, '골프 바이블', '대한미디어', 50000)
(5, '피겨 교본', '굿스포츠', 50000)
(6, '역도 단계별기술', '굿스포츠', 50000)
(7, '야구의 추억', '이상미디어', 50000)
(8, '야구를 부탁해', '이상미디어', 50000)
(9, '올림픽 이야기', '삼성당', 50000)
(10, 'Olympic Champions', 'Pearson', 50000)

In [ ]:
# 5. 데이터 처리 (데이터 삽입) 2
sql2 = "insert into newbook_yr values (%s, %s, %s, %s)" # %s로 데이터와 sql을 분리해줌.
for book in book_list:
    print(book)
    cursor.execute(sql2, book) # 실행계획은 sql2, 수행할때는 book데이터 넣어라

In [52]:
conn.commit() # 이전 변경 작업을 모두 원본 테이블에 적용하기

In [53]:
cursor.close()
conn.close()

## book의 데이터를 조회해서 newbook 에 저장

In [54]:
# 1. 데이터베이스 연결 -> 연결 객체 반환
conn = pymysql.connect(host="192.168.0.55", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")

In [55]:
# 2. 명령 도구 만들기
cursor = conn.cursor()

In [56]:
# 3. SQL 작성 + 명령 실행 (삭제 명령)
sql = "delete from newbook_yr" # pk중복으로 기존 데이터 삭제
cursor.execute(sql)
conn.commit()

In [57]:
# 3. SQL 작성 + 명령 실행 (조회 명령)
sql = "select bookid, bookname, publisher, price from book"
cursor.execute(sql)

10

In [58]:
# 4. 조회 결과 읽기
book_list = cursor.fetchall()

In [59]:
# 5. 데이터 처리 (데이터 삽입) 2
sql2 = "insert into newbook_yr values (%s, %s, %s, %s)" # %s로 데이터와 sql을 분리해줌.(따로 국밥)
for book in book_list:
    print(book)
    cursor.execute(sql2, book) # 실행계획은 sql2, 수행할때는 book데이터 넣어라

# %s, %d 이런거 없이 pymysql 다 %s로써서 데이터 들어갈 자리만 마련해준다. = 자료형 지정 x

(1, '축구의 역사', '굿스포츠', 50000)
(2, '축구아는 여자', '나무수', 50000)
(3, '축구의 이해', '대한미디어', 50000)
(4, '골프 바이블', '대한미디어', 50000)
(5, '피겨 교본', '굿스포츠', 50000)
(6, '역도 단계별기술', '굿스포츠', 50000)
(7, '야구의 추억', '이상미디어', 50000)
(8, '야구를 부탁해', '이상미디어', 50000)
(9, '올림픽 이야기', '삼성당', 50000)
(10, 'Olympic Champions', 'Pearson', 50000)

In [60]:
conn.commit() # 이전 변경 작업을 모두 원본 테이블에 적용하기

In [61]:
cursor.close()
conn.close()

employees db로 하기

In [64]:
# 1. 데이터베이스 연결 -> 연결 객체 반환
conn = pymysql.connect(host="192.168.0.55", port=3306, db="employees",
                       user="humanda", passwd="humanda")

In [65]:
# 2. 명령 도구 만들기
cursor = conn.cursor()

In [66]:
# 3. SQL 작성 + 명령 실행 (조회 명령)
sql = """select * from employees 
         where lower(first_name) like %s or lower(last_name) like %s"""
cursor.execute(sql, ['%{0}%'.format('g')]*2) # list * 는 list 반복

# select절에 %s 넣는 방법

94876

In [67]:
# 4. 조회 결과 읽기
employee_list = cursor.fetchall()

In [68]:
# 5. 데이터 처리 (표시)
for employee in employee_list[:10]:
    print(employee)

(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26))
(10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2))
(10010, datetime.date(1963, 6, 1), 'Duangkaew', 'Piveteau', 'F', datetime.date(1989, 8, 24))
(10012, datetime.date(1960, 10, 4), 'Patricio', 'Bridgland', 'M', datetime.date(1992, 12, 18))
(10014, datetime.date(1956, 2, 12), 'Berni', 'Genin', 'M', datetime.date(1987, 3, 11))
(10015, datetime.date(1959, 8, 19), 'Guoxiang', 'Nooteboom', 'M', datetime.date(1987, 7, 2))
(10026, datetime.date(1953, 4, 3), 'Yongqiao', 'Berztiss', 'M', datetime.date(1995, 3, 20))
(10032, datetime.date(1960, 8, 9), 'Jeong', 'Reistad', 'F', datetime.date(1990, 6, 20))
(10036, datetime.date(1959, 8, 10), 'Adamantios', 'Portugali', 'M', datetime.date(1992, 1, 3))
(10042, datetime.date(1956, 2, 26), 'Magy', 'Stamatiou', 'F', datetime.date(1993, 3, 21))

In [69]:
# 6. 연결 닫기
cursor.close()
conn.close()